#
# Copyright 2024-2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "PSA Crypto Driver"

    config MCUX_COMPONENT_component.psa_crypto_driver
        bool
        default n
        help
            Toplevel PSA Crypto Driver component symbol.
            Auto-selected by platform-specific configurations.

    config MCUX_COMPONENT_component.psa_crypto_driver.osal
        bool
        default y if MCUX_COMPONENT_component.psa_crypto_driver

    if MCUX_COMPONENT_component.psa_crypto_driver.osal
        choice MCUX_COMPONENT_component.psa_crypto_driver.osal.selection
            prompt "OSAL Selection"
            default MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.frtos if MCUX_COMPONENT_middleware.freertos-kernel
            default MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.baremetal

            config MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.baremetal
                bool "Baremetal"
                help
                    Empty baremetal OSAL implementation for PSA Crypto Driver.
                    Must be implemented by the user.

            config MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.frtos
                bool "FreeRTOS"
                depends on MCUX_COMPONENT_middleware.freertos-kernel
                help
                    FreeRTOS OSAL for PSA Crypto Driver.
        endchoice
    endif

    config MCUX_COMPONENT_component.psa_crypto_driver.osal.baremetal
        depends on MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.baremetal
        bool
        default y
        help
            Kept as a separate config to allow for backward compatibility, but now should only be selected
            via the MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.baremetal choice.

    config MCUX_COMPONENT_component.psa_crypto_driver.osal.frtos
        depends on MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.frtos
        bool
        default y
        help
            Kept as a separate config to allow for backward compatibility, but now should only be selected
            via the MCUX_COMPONENT_component.psa_crypto_driver.osal.selection.frtos choice.

    config MCUX_COMPONENT_component.psa_crypto_driver.mbedtls_thread_alt
        bool "Mbed TLS Thread Alt"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.rw61x
        bool "ELS PKC Oracle RW61x"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mcxn
        bool "ELS PKC Oracle MCXN"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mimxrt
        bool "ELS PKC Oracle MIMXRT"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.lpc
        bool "ELS PKC Oracle LPC"

     config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
         bool "ELS PKC Oracle"

        if MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
          choice
            prompt "Platform"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.rw61x

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.rw61x
                bool "RW61x"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.rw61x
                depends on MCUX_HW_DEVICE_RW610 || MCUX_HW_DEVICE_RW612

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.mcxn
                bool "MCXN"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mcxn
                depends on MCUX_HW_DEVICE_MCXN546 || MCUX_HW_DEVICE_MCXN547 || MCUX_HW_DEVICE_MCXN946 || MCUX_HW_DEVICE_MCXN947 || MCUX_HW_DEVICE_MCXN235 || MCUX_HW_DEVICE_MCXN236 || MCUX_HW_DEVICE_MCXN247 || MCUX_HW_DEVICE_MCXN526 || MCUX_HW_DEVICE_MCXN527 || MCUX_HW_DEVICE_MCXN536 || MCUX_HW_DEVICE_MCXN537 || MCUX_HW_DEVICE_MCXN556S || MCUX_HW_DEVICE_MCXN557S || MCUX_HW_DEVICE_MCXN556T || MCUX_HW_DEVICE_MCXN557T || MCUX_HW_DEVICE_MCXN246T || MCUX_HW_DEVICE_MCXN247T || MCUX_HW_DEVICE_MCXN527T || MCUX_HW_DEVICE_MCXN536T || MCUX_HW_DEVICE_MCXN537T || MCUX_HW_DEVICE_MCXN546T || MCUX_HW_DEVICE_MCXN547T || MCUX_HW_DEVICE_MCXN946T || MCUX_HW_DEVICE_MCXN947T

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.mimxrt
                bool "MIMXRT"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.mimxrt
                depends on MCUX_HW_DEVICE_MIMXRT798S || MCUX_HW_DEVICE_MIMXRT758S || MCUX_HW_DEVICE_MIMXRT735S

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.oracle.platform.lpc
                bool "LPC"
                select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle.lpc
                depends on MCUX_HW_DEVICE_LPC55S36
            endchoice
        endif


    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.common
        bool "ELS PKC Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.transparent
        bool "ELS PKC Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.opaque
        bool "ELS PKC Opaque"

    config MCUX_COMPONENT_component.psa_crypto_driver.els_pkc
        bool "ELS PKC"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.oracle
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.common
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.els_pkc.opaque
        select MCUX_COMPONENT_component.els_pkc.psa_driver

        if MCUX_COMPONENT_component.psa_crypto_driver.els_pkc
          choice
            prompt "Hardware Platform Selection"
            default MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_1
            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_1
                bool "RW61x with TRNG support"
                select MCUX_COMPONENT_driver.trng
                select MCUX_COMPONENT_component.psa_crypto_driver.use_trng_compile_option
                depends on MCUX_HW_DEVICE_RW610 || MCUX_HW_DEVICE_RW612

            config MCUX_DEPENDENCY_COMPONENT_component.psa_crypto_driver.els_pkc_DEPEND_ANYOF_1_OPTION_2
                bool "MCXN/RT700/LPC55S36 series devices"
                depends on MCUX_HW_DEVICE_MCXN546 || MCUX_HW_DEVICE_MCXN547 || MCUX_HW_DEVICE_MCXN946 || MCUX_HW_DEVICE_MCXN947 || MCUX_HW_DEVICE_MCXN235 || MCUX_HW_DEVICE_MCXN236 || MCUX_HW_DEVICE_MCXN247 || MCUX_HW_DEVICE_MCXN526 || MCUX_HW_DEVICE_MCXN527 || MCUX_HW_DEVICE_MCXN536 || MCUX_HW_DEVICE_MCXN537 || MCUX_HW_DEVICE_MCXN556S || MCUX_HW_DEVICE_MCXN557S || MCUX_HW_DEVICE_MCXN556T || MCUX_HW_DEVICE_MCXN557T || MCUX_HW_DEVICE_MCXN246T || MCUX_HW_DEVICE_MCXN247T || MCUX_HW_DEVICE_MCXN527T || MCUX_HW_DEVICE_MCXN536T || MCUX_HW_DEVICE_MCXN537T || MCUX_HW_DEVICE_MCXN546T || MCUX_HW_DEVICE_MCXN547T || MCUX_HW_DEVICE_MCXN946T || MCUX_HW_DEVICE_MCXN947T || MCUX_HW_DEVICE_MIMXRT798S || MCUX_HW_DEVICE_MIMXRT758S || MCUX_HW_DEVICE_MIMXRT735S || MCUX_HW_DEVICE_LPC55S36

          endchoice
        endif

    config MCUX_COMPONENT_component.psa_crypto_driver.dcp
        bool "DCP"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.dcp
        select MCUX_COMPONENT_driver.trng
        select MCUX_COMPONENT_component.osa

    config MCUX_COMPONENT_component.psa_crypto_driver.use_trng_compile_option
        bool "Use TRNG"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        bool "ELE S4xx RNG"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent
        bool "ELE S4xx Transparent"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_sd_nvm_mgr
        bool "ELE S4xx SD NVM Manager"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.usdhc
        select MCUX_COMPONENT_component.rgpio_adapter
        select MCUX_COMPONENT_middleware.sdmmc.host.usdhc
        select MCUX_COMPONENT_middleware.sdmmc.sd
        select MCUX_COMPONENT_middleware.fatfs.sd
        select MCUX_COMPONENT_middleware.fatfs
        select MCUX_COMPONENT_component.ele_nvm_manager

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        bool "ELE S4xx PSA Opaque"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa
        bool "ELE S4xx"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_with_persistent_storage
        bool "ELE S4xx with Persistent Storage"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.s3mu
        select MCUX_COMPONENT_component.ele_crypto
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_rng
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_opaque
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_psa_transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s4xx_sd_nvm_mgr
        select MCUX_COMPONENT_middleware.mbedtls3x.crypto_storage_fatfs

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.common
        bool "ELE S200 Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.transparent
        bool "ELE S200 Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.opaque
        bool "ELE S200 Opaque"

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.feature.hash_context_persistence
        bool "ELE S200 Hash Context Persistence"
        depends on MCUX_HW_SOC_SERIES_KW47 || MCUX_HW_SOC_SERIES_MCXW72
        default false
        help
            Enables multipart hash context persistence across sleep/wake cycles
            when the ELE S200 subsystem loses internal contexts, but the application
            RAM does not.
            Supported only on KW47 and MCXW72 series.

    config MCUX_COMPONENT_component.psa_crypto_driver.ele_s200
        bool "ELE S200"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.common
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.opaque
        select MCUX_COMPONENT_middleware.secure-subsystem

        imply MCUX_COMPONENT_component.psa_crypto_driver.util.wrapcheck_static_inline

    config MCUX_COMPONENT_component.psa_crypto_driver.casper
        bool "CASPER"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.casper

        # We provide option to have hashcrypt-only, or CASPER+hashcrypt, but CASPER-only is not available.
        select MCUX_COMPONENT_component.psa_crypto_driver.hashcrypt

    config MCUX_COMPONENT_component.psa_crypto_driver.hashcrypt
        bool "HASHCRYPT"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.hashcrypt
        select MCUX_COMPONENT_component.rng_adapter_interface

    config MCUX_COMPONENT_component.psa_crypto_driver.caam
        bool "CAAM"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.caam

    config MCUX_COMPONENT_component.psa_crypto_driver.ela_csec
        bool "ELA CSEC"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_driver.ela_csec

    # MCUX_COMPONENT_component.psa_crypto_driver.ele_hseb
    # has been moved to its own Kconfig file.
    rsource "./ele_hseb/Kconfig.ele_hseb"

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi.common
        bool "SGI Common"

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi.transparent
        bool "SGI Transparent"

    config MCUX_COMPONENT_component.psa_crypto_driver.sgi.feature.double_cipher_enable
        bool "SGI Double cipher enable"
        default false
        help
            Enable double encryption/decryption with CMAC verification.
            When enabled, cipher operations are performed twice and verified
            using AES-128-CMAC to detect potential faults.
			
    config MCUX_COMPONENT_component.psa_crypto_driver.sgi
        bool "SGI"
        select MCUX_COMPONENT_component.psa_crypto_driver
        select MCUX_COMPONENT_component.psa_crypto_driver.sgi.transparent
        select MCUX_COMPONENT_component.psa_crypto_driver.sgi.common
        select MCUX_COMPONENT_component.sgi_pkc
        select MCUX_COMPONENT_component.sgi_pkc.example

        select MCUX_COMPONENT_component.psa_crypto_driver.use_trng_compile_option

    config MCUX_COMPONENT_component.psa_crypto_driver.pkc
        bool "SGI PKC"
        select MCUX_COMPONENT_component.sgi_pkc.pkc
        select MCUX_COMPONENT_component.sgi_pkc.ecc
        select MCUX_COMPONENT_component.sgi_pkc.signature
        select MCUX_COMPONENT_component.sgi_pkc.rsa

        # We provide option to have SGI-only, or SGI+PKC, but PKC-only is not available.
        select MCUX_COMPONENT_component.psa_crypto_driver.sgi

    config USING_TF_PSA_CRYPTO
        bool
        default y if MCUX_COMPONENT_middleware.mbedtls.tf_psa_crypto
        help
            This config option is set to 'y' when TF PSA Crypto is selected
            as the caller of PSA Crypto Driver.

    config USING_MBEDTLS_3X
        bool
        default y if MCUX_COMPONENT_middleware.mbedtls3x
        help
            This config option is set to 'y' when Mbed TLS 3.x is selected
            as the caller of PSA Crypto Driver.

    ##################################################################
    #                           Utilities                            #
    #                                                                #
    # Options without menu entries, to be used for SW-only utilities #
    ##################################################################

    config MCUX_COMPONENT_component.psa_crypto_driver.util.wrapcheck_static_inline
        bool

    ##################################################################
    #                            Features                            #
    #                                                                #
    # Options without menu entries, translated from the above        #
    # user-facing MCUX_COMPONENT_component.psa_crypto_driver symbols #
    # to be used in-code.                                            #
    ##################################################################

    config ELE_S2XX_ENABLE_HASH_CONTEXT_IMPORT_EXPORT
        bool
        default y if MCUX_COMPONENT_component.psa_crypto_driver.ele_s200.feature.hash_context_persistence

    config MCUX_PSA_SGI_DOUBLE_CIPHER_ENABLE
        bool
        default y if MCUX_COMPONENT_component.psa_crypto_driver.sgi.feature.double_cipher_enable

    ##################################################################
    #                           MbedTLS                              #
    ##################################################################

    config MCUX_COMPONENT_middleware.mbedtls
        bool "MbedTLS middleware"

    config MCUX_COMPONENT_middleware.mbedtls.default_config
        default true if MCUX_COMPONENT_middleware.mbedtls
        bool "Default MCUX MbedTLS configuration header"

    ##################################################################
    #                           TF-PSA-Crypto                        #
    ##################################################################

    config MCUX_COMPONENT_middleware.mbedtls.tf_psa_crypto
        bool "TF-PSA-Crypto component used in MbedTLS"

    config MCUX_COMPONENT_middleware.mbedtls.tf_psa_crypto.builtin_driver
        bool "TF-PSA-Crypto driver builtin SW implementation"

    config MCUX_COMPONENT_middleware.mbedtls.tf_psa_crypto.default_config
        default true if MCUX_COMPONENT_middleware.mbedtls.tf_psa_crypto
        bool "Default MCUX TF-PSA-Crypto configuration header"

endmenu
